.App {
  text-align: center;
}

.site-title {
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	margin-bottom: 30px;
}

.hero {
	background-color: #999;
	margin-bottom: 30px;
	border-radius: 12px;
	padding: 15px;
	transition: all .3s;
}

.hero:hover {
	cursor: pointer;
	transform: scale(.95);
}

.hero__image {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	max-height: 340px;
}

.hero__name {
	color: white;
}